.cabecalho{
    background-color: #383D58;
    color: white;
    display: flex;
    justify-content: space-around;
}

.cabecalho-imagem{ 
    width: 20%;
}

.cabecalho-lista-item{
    display: inline-block;
    margin: 0 16px;      
    padding: 24px 0;
    font-size: 24px;
}   

* {
    margin: 0 16px;      
    padding: 24px 0;
}

.imagem-escola {
    width: 150px;
}

.escola {
    background-image: linear-gradient(#383D58,#04abf9);
    color:white;
    display: flex;
    justify-content: center;
    
}


.escola-conteudo{
    width: 35%;
    align-items: center ;
} 
  
body{
    font-family: 'Poppins', sans-serif;
}
